<a href="https://colab.research.google.com/github/rahulvenkat207/Ml_Lab/blob/main/1A_Study_of_python_fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionaries

In [8]:
student = {
    "name" : "Rahul",
    "age" : "19",
    "courses":["Tamil","English"]
}

print(student["name"])

Rahul

In [9]:
student["grage"] = "A"
student["age"] = 22

for key,value in student.items():
  print(f"{key}:{value}")

name:Rahul
age:22
courses:['Tamil', 'English']
grage:A

#Tuples

In [10]:
num = (1,2,3)
print(num[0])

1

In [11]:
for value in num:
  print(value)

1
2
3

# Functions

In [12]:
def area(X):
  square = X*X
  return square

print(area(5))

25

In [13]:
def greet(X):
  print(f"Hello {X}")

greet("Rahul")

Hello Rahul

# Looping

In [14]:
names = ["Rahul","Ranesh","Ranjith"]

for i in names:
  print(i)

Rahul
Ranesh
Ranjith

In [16]:
sum = 0
i = 0
while i < 5:
  sum = sum + i
  i = i + 1
print(sum)

10